.container-fluid{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.wallpaperscraft.com/image/ferrari_sports_car_hood_car_133928_3840x2400.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lead{
    font-weight: bold;
    color:#5e5e5e;
}

.btn{
    color: #ffffff;
    background-color: #3a3f44;
    border-color: #3a3f44;
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
}

.btn:hover{
    background-color: #a0c705;
    border-color: rgba(0,3,215,1);
    background-image:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,3,215,1) 100%);;
}