<div class="container">
  <h2 class="my-2">Encuentra los mejores precios</h2>

  <div class="card text-white border-primary mb-3">
    <div class="card-header text-dark">Lista de precios</div>
    <div class="card-body">
        <table class="table table-striped">
          <thead >
            <tr>
              <th scope="col">Categoria de vehículo</th>
              <th scope="col">Precio</th>
              <th scope="col">*Precio Descuento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Clase B</th>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Autos particulares - camionetas - station wagon y otros</td>
              <td>$14.500</td>
              <td>$13.050</td>
            </tr>
            <tr>
              <td>Motocicletas y motonetas</td>
              <td>$7.250</td>
              <td>$6.525</td>
            </tr>
            <tr>
              <td>Remolques y semi-remolques</td>
              <td>$7.250</td>
              <td>$6.525</td>
            </tr>
            <tr>
              <td>Segunda Revisión Técnica Autos particulares - camionetas - station wagon y otros</td>
              <td>$10.900</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Segunda Revisión Técnica Motocicletas y motonetas</td>
              <td>$5.450</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Segunda Revisión Técnica Remolques y semi-remolques</td>
              <td>$5.450</td>
              <td>-</td>
            </tr>
            <tr>
              <th scope="row">Clase A</th>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Buses y camiones</td>
              <td>$21.750</td>
              <td>$19.575</td>
            </tr>
            <tr>
              <td>Taxis - minibuses - autos escuela</td>
              <td>$14.500</td>
              <td>$13.050</td>
            </tr>
            <tr>
              <td>Vehiculos transporte escolar</td>
              <td>$14.500</td>
              <td>$13.050</td>
            </tr>
            <tr>
              <td>Segunda revisión técnica Buses y camiones</td>
              <td>$16.350</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Segunda revisión técnica Taxis - minibuses - autos escuela</td>
              <td>$10.900</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Segunda revisión técnica Vehiculos transporte escolar</td>
              <td>$10.900</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
    </div>
    
  </div>

  <div class="alert alert-primary" role="alert">
    <p> <span class="font-weight-bold">*Precio Descuento:</span> Si usted desea realizar su revision técnica entre los dias "12" y "22" de cada mes, se le aplicará</p>
    <p>un descuento del 10%, sobre el valor total de la revisión</p>
  </div>
  


</div>
