<h3 class="my-2">Bienvenido al Panel de admnistración</h3>


<div class="row">
  <div class="col-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Cantidad de revisiones realizadas 2019</div>
        <div class="card-body">
          <h1 class="card-title text-center mt-2 display-4">{{this.contRevisiones[1]}}</h1>
        </div>
      </div>
  </div>
  <div class="col-4">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Cantidad de revisiones APROBADAS 2019</div>
        <div class="card-body">
          <h1 class="card-title text-center mt-2 display-4">{{this.contAprobadas}}</h1>
        </div>
      </div>
  </div>
  <div class="col-4">
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Cantidad de revisiones RECHAZADAS 2019</div>
        <div class="card-body">
          <h1 class="card-title text-center mt-2 display-4">{{this.contRechazadas}}</h1>
        </div>
      </div>
  </div>
</div>


<div id="container" class="mt-4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>





