<div id="main-head" style="text-align:center">
    <h1>
      Gráficos de Vehiculos
    </h1>
    
  </div>

  <h2 class="my-4">Seleccione que tipo de gráfico desea ver</h2>

  <button class="btn btn-primary mr-2" (click)="revisionesPorAnio()">Año del vehiculo v/s cantidad revisiones</button>
  
  <button class="btn btn-primary mr-2" (click)="tipoVehiculoPorAnio()" >Revisiones por tipo vehiculo</button>


  <div id="container" class="mt-4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>