<div class="container"><!--CONTENEDOR PRINCIPAL-->

  <nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  [routerLink]="['/administracion-inicio']" href="#">administracion-inicio</a></li>
      <li class="breadcrumb-item"><a  [routerLink]="['/administracion-inicio/empleados']" href="#">empleados</a></li>
      <li class="breadcrumb-item active" aria-current="page">formulario-empleados</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->

  <h1 class="my-3">{{titulo}}</h1>

  <div class="card my-5 col-6 offset-3"><!--CARD CONTENEDOR DEL FORMULARIO-->
    <div class="card-header">
      Ingrese los datos del empleado
    </div>
    <div class="card-body"><!--CARD BODY-->

        <form [formGroup]="formEmpleado" (ngSubmit)="saveData()" novalidate><!--FORMULARIO CLIENTE-->

          <div class="row"><!--ROW-->
            <div class="col-10 offset-1"><!--COL-8-->

              <h6 class="border-bottom my-2 mb-4 pb-2">Datos empleado</h6>

              <div class="form-group row">
                <label for="inputRut" class="col-sm-4 col-form-label">Rut</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputRut" formControlName="rut_empleado" [(ngModel)]="empleado.rut_empleado" placeholder="Rut">
                  <div *ngIf="formEmpleado.get('rut_empleado').errors && (formEmpleado.get('rut_empleado').touched
                          || formEmpleado.get('rut_empleado').dirty)"
                      class="alert alert-danger">Debe ingresar el rut
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputNombre3" class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputNombre3" formControlName="nombre" [(ngModel)]="empleado.nombre" placeholder="Nombre">
                  <div *ngIf="formEmpleado.get('nombre').errors && (formEmpleado.get('nombre').touched
                          || formEmpleado.get('nombre').dirty)"
                      class="alert alert-danger">Debe ingresar nombre
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" class="col-sm-4 col-form-label">Correo</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail" formControlName="correo" [(ngModel)]="empleado.correo" placeholder="example@dominio.com">
                  <div *ngIf="formEmpleado.get('correo').errors && (formEmpleado.get('correo').touched
                          || formEmpleado.get('correo').dirty)"
                      class="alert alert-danger">Debe ingresar correo
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputTelefono" class="col-sm-4 col-form-label">Teléfono</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputTelefono" formControlName="telefono" [(ngModel)]="empleado.telefono" placeholder="8537XXXX">
                  <div *ngIf="formEmpleado.get('telefono').errors && (formEmpleado.get('telefono').touched
                          || formEmpleado.get('telefono').dirty)"
                      class="alert alert-danger">Debe ingresar el telefono
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputDireccion" class="col-sm-4 col-form-label">Dirección</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputTelefono" formControlName="direccion" [(ngModel)]="empleado.direccion" placeholder="Ingrese dirección">
                  <div *ngIf="formEmpleado.get('direccion').errors && (formEmpleado.get('direccion').touched
                          || formEmpleado.get('direccion').dirty)"
                      class="alert alert-danger">Debe ingresar el telefono
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-4">Sexo</label>
                <div class="col-8">
                  <select  formControlName="sexo" class="form-control" [(ngModel)]="empleado.sexo">
                    <option  value="MASCULINO"> Masculino </option>
                    <option  value="FEMENINO"> Femenino </option>
                    <option  value="otro"> Otro </option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-12 text-right">
                  <button class="btn btn-primary" role="button" (click)='create()' [disabled]="!formEmpleado.valid" *ngIf="!empleado.id_empleado">Crear</button> <!--elseBlock posiciona otro template en caso de que !clietne.id, para utilizar solo 1 boton en el form-->
                 
                  <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!formEmpleado.valid" *ngIf="empleado.id_empleado">Editar</button>
   
                </div>
              </div>

            </div><!--FIN COL-8-->
          </div><!--FIN ROW-->

        </form><!--FIN FORMULARIO CLIENTE-->

    </div><!--FIN CARD BODY-->
  </div><!--FIN CARD CONTENEDORA FORMULARIO-->

</div><!--FIN CONTENEDOR PRINCIPAL-->