<div class="jumbotron">
    <h1 class="display-4">Bienvenido al panel del personal PRT</h1>
    <p class="lead">Desde acá podras gestionar las revisiones, clientes y vehículos</p>
    <hr class="my-4">
    <p>Cada revisión que se realice debe ser ingresada al sistema</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Ir a revisiones</a>
</div>
