@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{font-family: 'Poppins', sans-serif;
     background: #fafafa}
p{font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: rgb(189, 189, 189);
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar{
	padding: 10px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2196F3;
    color: #fff;
    transition: all 0.3s;
    min-height: 100vh;
}

.mostrar-sidebar{
    margin-left:-250px;
}
@media(max-width:480px){

    .mostrar-sidebar{
        margin-left:-100px;
    }

    #sidebar{
        min-width: 100px;
        max-width: 100px;
    }

    .sidebar-header{
        padding-bottom:40px!important;
    }

    li span{
        display:none;
    }

    a i{
        font-size: 25px;
    }

    li a{
        text-align: center;
    }

    .titulo-menu{
        display:none!important;
    }

    .sidebar-header h3{
        display:none;
    }
    
}
#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
	padding: 20px;
	background: #1976D2;
}
#sidebar ul.components{
	padding: 20px 0px;
	border-bottom: 1px solid #1976D2;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
    color: #ffffff;
    background: #1976D2;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #448AFF;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #448AFF;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}




@media(maz-width:768px){
	#sidebar{margin-left: -250px;}
	#sidebar.active{
		margin-left: 0px;
	}
	#sidebarCollapse span{
		display: none;
	}
}

.btn-menu{
    color:#ffffff;
    background-color: #1976D2;
    border-color:#1976D2;
}

.avatar_navbar{
  width:80px;
  margin-bottom:10px;
}
.avatar_mask{
  width:60px;
  height:60px;
  overflow: hidden;
  border-radius: 900px;
}

.avatar_mask img{
  height:60px;
}

.boton-dropdown{
    border-radius: 5%;
}
.boton-dropdown::after{
  right:2px!important;
}

li i{
    min-width: 30px;
}
























