
  <div class="wrapper">

    <nav id="sidebar" [ngClass]="{'mostrar-sidebar': !mostrarSidebar}">
      <div class="sidebar-header">
        <h3>Administración PRT</h3>
      </div>
      
      
      <ul class="list-unstyled components">
       <p class="titulo-menu">Panel de Admnistración</p>
       <li><a [routerLink]="['/administracion-inicio']"><i class="fas fa-home"></i> <span>Home</span> </a></li>

       <li>
         <a href="#productos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
             <i class="fa fa-th-large"></i> <span>Historial</span> 
         </a>
         <ul class="collapse list-unstyled" id="productos">
           <li><a [routerLink]="['historial-revisiones']"><i class="fas fa-clipboard-check"></i><span>De revisiones</span> </a></li>
           <li><a [routerLink]="['historial-vehiculos']"><i class="fas fa-car"></i><span>De vehículos</span></a></li>
           <li><a [routerLink]="['historial-clientes']"><i class="fas fa-users"></i><span>De clientes</span></a></li>
         </ul> 
       </li>

       <li>
         <a href="#empleados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-chart-line"></i> <span>Gráficas</span> 
         </a>
         <ul class="collapse list-unstyled" id="empleados">
           <li><a [routerLink]="['graficos-revisiones']"><i class="fas fa-clipboard-check"></i><span>Revisiones</span></a></li>
           <li><a [routerLink]="['graficos-vehiculos']"><i class="fas fa-car"></i><span>Vehículos </span></a></li>
         </ul> 
       </li>

       <li> <a [routerLink]="['empleados']"><i class="fas fa-user-tie"></i><span>Empleados</span> </a> </li>

      </ul>
      
      
    </nav>
    
    <div class="container-fluid px-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      
       <button type="button" (click)="ocultarSidebar()" id="sidebarCollapse" class="btn btn-info btn-menu">
         <i class="fa fa-align-justify"></i> 
       </button>
       
       <!--<a class="navbar-brand" href="#">Navbar</a> -->
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
           
           <li class="nav-item dropdown my-auto">
             <a class="nav-link dropdown-toggle boton-dropdown px-3 ml-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               {{authService.usuario.username}}
             </a>
             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" [routerLink]="['perfil']">Perfil</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar sesión</a>
             </div>
           </li>
         </ul>
       </div>

     </nav>
     
     <div class="container-fluid">
         <router-outlet></router-outlet>
     </div>
     
   
    </div>
      
 </div>
     
