<div class="container-fluid"><!--CONTENEDOR PRINCIPAL-->

  <nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  [routerLink]="['/personal-inicio']" href="#">personal-inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">vehiculos</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->

    <h1>Vehículos</h1>

    <div class="row my-3"><!--SECCION PARA FILTRAR-->
      <div class="col-2 my-auto">
        Filtrar por patente:
      </div>
      <div class="col-4 my-auto">
        <input type="text" [(ngModel)]="listFilter">
      </div>
      <div class="col-6 text-right">
          <button type="button" name="editar" class="btn btn-primary btn-lg" routerLink="/personal-inicio/vehiculos-form">Agregar vehículo</button>
      </div>
    </div><!--FIN SECCION PARA FILTRAR-->

    <div class="card mb-3"><!--CARD CONTENEDORA DE LA TABLA-->
      <div class="card-header text-center">
        Lista de vehículos
      </div>
      <div class="card-body">
        <div class="table-responsive"><!--INICIO TABLA REVISIONES-->
          <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Patente</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Numero motor</th>
                  <th scope="col">Numero chasis</th>
                  <th scope="col">Año</th>
                  <th scope="col">Color</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of vehiculosFiltered">
                  <th scope="row">{{v.patente}}</th>
                  <td>{{v.tipo_vehiculo}}</td>
                  <td>{{v.marca}}</td>
                  <td>{{v.modelo}}</td>
                  <td>{{v.nro_motor}}</td>
                  <td>{{v.nro_chasis}}</td>
                  <td>{{v.anio}}</td>
                  <td>{{v.color}}</td>
                  <td><button type="button" name="editar" [routerLink]="['/personal-inicio/vehiculos-form/',v.id]" class="btn btn-primary">editar</button></td>
                  <td><button type="button" name="eliminar" class="btn btn-danger" (click)="delete(v)">eliminar</button></td>
                </tr>
              </tbody>
          </table>
        </div><!--FIN TABLA REVISIONES-->  
      </div>
    </div><!--FIN CARD CONTENEDORA DE TABLA-->
  
</div> <!--FIN CONTENEDOR PRINCIPAL-->
