<div class="container-fluid">
  <div class="row h-100">
    <div class="col-3 bg-white px-4 pt-4 rounded m-auto h-75 shadow">
      <form>
        <h3 class="text-center mb-3 pb-4 border-bottom">PRT</h3>
        <p class="lead text-center">Formulario de autenticación para Administrador de PRT</p>
        <div class="form-group">
          <label >Usuario</label>
          <input [(ngModel)]="usuario.username" type="usuario" class="form-control" id="username" name="username" placeholder="Ingrese usuario" autofocus required>
        </div>
        <div class="form-group">
          <label >Contraseña</label>
          <input [(ngModel)]="usuario.password" type="password" class="form-control" id="password" name="password"  placeholder="Contraseña" required>
          <small id="password" name="password" class="form-text text-muted">No comparta nunca su contraseña</small>
        </div>
      
        <button type="submit" class="btn btn-dark btn-block btn-lg" (click)="login()">Ingresar</button>
      </form>
    </div>
  </div>
</div>