<!--CAROUSEL-->
<div class="bd-example container">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="http://www.ginausetti.dk/wp-content/uploads/2018/02/Bilhandel-1.jpg" class="img-fluid d-block w-100" alt="...">
        <div class="carousel-caption carousel-1 d-none d-md-block">
          <p class="display-2">Reserva tu hora</p>
          <p>Agenda tus horas en línea</p>
          <a href="#" routerLink="reserva" class="btn btn-primary btn-lg">Reservar hora</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="http://www.ginausetti.dk/wp-content/uploads/2018/02/Bilhandel-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption carousel-2 d-none d-md-block text-left">
          <p class="display-2">Nuestro compromiso es con los clientes</p>
          <p>Calidad y rapidez en nuestras atenciones es lo que nos caracteriza</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn-products.eneba.com/resized-products/yqtol6oaxmo3sbxjgyet_390x400_3x-0.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption carousel-3 d-none d-md-block">
          <p class="display-2">Ven a conocer nuestras instalaciones</p>
          <p>Altamente reconocidas por su infraestructura, te sorprenderan!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--FIN CAROUSEL-->
<!--CONTENEDOR-RESERVA-HORA-->
<div class="container">
  <div class="row my-2">
    <div class="col-4">
      <div class="card p-3 bg-secondary">
        <h2 class="border-bottom">Estado de tú revisión</h2>
        <form>
          <div class="form-group">
            <label for="exampleInputRut1">Ingresar rut</label>
            <input type="text" class="form-control" id="exampleInputRut1" aria-describedby="emailHelp" placeholder="Ingrese rut">
          </div>
          <div class="form-group">
            <label for="exampleInputPatente1">Patente</label>
            <input type="text" class="form-control" id="exampleInputPatente1" placeholder="Patente">
          </div>
          <button type="submit" class="btn btn-primary">Ver estado</button>
        </form>
      </div><!--.card-->
    </div>
    <div class="col-4 text-center m-auto">    
      <a [routerLink]="['precios']"><i class="fas fa-search-dollar fa-5x"></i></a>
      <h6 class="mt-3">Encuentra los mejores precios</h6>
    </div>
    <div class="col-4 m-auto text-center">
      <a [routerLink]="['tiempos']"><i class="fas fa-clock fa-5x"></i></a>
      <h6 class="mt-3">Reduce los tiempos de espera</h6>
    </div>
  </div>
</div>
