.carousel-inner img {
    width: auto;
    height: 700px;
    max-height: 1000px;
}
.carousel-2,.carousel-3{ /*alinear texto de carousel a la parte superior*/
    top: 0;
    bottom: auto;
}
img{ 
    
}
