<div id="main-head" style="text-align:center">
    <h1>
      Gráficos de revisiones
    </h1>
    
  </div>

  <h2 class="my-4">Seleccione que tipo de gráfico desea ver</h2>

  
  <button class="btn btn-primary mr-2" (click)="revisionesPorAnioComparativa()">Comparacion Aprovadas v/s Rechazadas</button>
  
  <button class="btn btn-primary mr-2" (click)="cantRevisionesPorAnio()">Cantidad revisiones por año</button>

  <div id="container" class="mt-4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

