<div class="container">
  <h1>Reserva de hora</h1>

  <form><!--FORMULARIO CLIENTE-->

    <div class="row"><!--ROW-->
      <div class="col-8 offset-2"><!--COL-8-->

        <h6 class="border-bottom my-2 mb-4 pb-2">Datos cliente</h6>
        <div class="form-group row">

          <label for="inputRut" class="col-sm-4 col-form-label">Rut</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  [(ngModel)]="reserva.rut" [ngModelOptions]="{standalone: true}" placeholder="Rut">
          </div>

        </div>

        <div class="form-group row">
          <label for="example-date-input" class="col-4 col-form-label">Fecha</label>
          <div class="col-8">
            <input class="form-control" type="date"   [(ngModel)]="reserva.fecha">
          </div>
        </div>

        <div class="form-group row">

            <label  class="col-sm-4 col-form-label">Hora</label>
            <div class="col-sm-8">
              <input type="text" class="form-control"   [(ngModel)]="reserva.hora" placeholder="Ingrese hora">
            </div>
        </div>
        
        <div class="form-group row">
          <div class="col-12 text-right">
            <button class="btn btn-primary" role="button" (click)='create()'>Crear</button> <!--elseBlock posiciona otro template en caso de que !clietne.id, para utilizar solo 1 boton en el form-->
          </div>
        </div>
        

      </div><!--FIN COL-8-->
    </div><!--FIN ROW-->

  </form><!--FIN FORMULARIO CLIENTE-->
</div>