<div class="container"><!--CONTENEDOR PRINCIPAL-->

    <nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
      <ol class="breadcrumb bg-white pl-0">
        <li class="breadcrumb-item"><a  [routerLink]="['/personal-inicio']" href="#">personal-inicio</a></li>
        <li class="breadcrumb-item"><a  [routerLink]="['/personal-inicio/revisiones']" href="#">revisiones</a></li>
        <li class="breadcrumb-item active" aria-current="page">formulario-revisiones</li>
      </ol>
    </nav><!--FIN MIGAS DE PAN-->

    <h1 class="my-3">{{titulo}}</h1>

    <div class="card my-5"><!--CARD CONTENEDOR DEL FORMULARIO-->
      <div class="card-header">
        Ingrese los datos de la revisión
      </div>
      <div class="card-body"><!--CARD BODY-->
  
          <form [formGroup]="formRevision" (ngSubmit)="saveData()" novalidate><!--FORMULARIO REVISION-->

            <div class="row"><!--ROW-->
              <div class="col-6"><!--COL-6-->

                <h6 class="border-bottom my-2 pb-2">Datos generales</h6>

                <div class="form-group row">
                  <label class="col-form-label col-4">Empleado</label>
                  <div class="col-8">
                    <select  formControlName="id_empleado" [(ngModel)]="revision.empleado.id_empleado" class="form-control">
                      <option *ngFor="let empleado of empleados" value="{{empleado.id_empleado}}">
                        {{empleado.nombre}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-form-label col-4">Vehiculo</label>
                  <div class="col-8">
                    <select  formControlName="id_vehiculo" [(ngModel)]="revision.vehiculo.id" class="form-control">
                      <option *ngFor="let vehiculo of vehiculos" value="{{vehiculo.id}}">
                        {{vehiculo.patente}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="example-date-input" class="col-4 col-form-label">Fecha</label>
                  <div class="col-8">
                    <input class="form-control" type="date"  formControlName="fecha" [(ngModel)]="revision.fecha">
                    <div *ngIf="formRevision.get('fecha').errors && (formRevision.get('fecha').touched
                          || formRevision.get('fecha').dirty)"
                      class="alert alert-danger">Debe ingresar la fecha
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="example-date-input" class="col-4 col-form-label">Contador</label>
                  <div class="col-8">
                    <input class="form-control" type="number" value="1" formControlName="cont" [(ngModel)]="revision.cont" disabled>
                  
                    <div *ngIf="formRevision.get('cont').errors && (formRevision.get('cont').touched
                          || formRevision.get('cont').dirty)"
                      class="alert alert-danger">Debe llenar este campo
                    </div>
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-sm-10">
                    <button class="btn btn-primary" type="submit" role="button" (click)='create()' [disabled]="!formRevision.valid" *ngIf="!revision.idRevision else elseBlock">Crear</button> <!--elseBlock posiciona otro template en caso de que !clietne.id, para utilizar solo 1 boton en el form-->
                    <ng-template #elseBlock>
                      <button class="btn btn-primary" role="button" (click)='update()' >Editar</button>
                    </ng-template>
                  </div>
                </div>

              </div><!--FIN COL-6-->

              <div class="col-6"><!--COL-6-->

                <h6 class="border-bottom my-2 pb-2">Aspectos técnicos</h6>

                <div class="form-group row">
                  <label for="kilometraje" class="col-sm-4 col-form-label">Kilometraje</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" [(ngModel)]="revision.kilometraje" formControlName="kilometraje" placeholder="kilometraje">
                    <div *ngIf="formRevision.get('kilometraje').errors && (formRevision.get('kilometraje').touched
                          || formRevision.get('kilometraje').dirty)"
                      class="alert alert-danger">Debe ingresar el kilometraje
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-form-label col-4">Estado</label>
                  <div class="col-8">
                    <select  formControlName="estado" [(ngModel)]="revision.estado" class="form-control">
                      <option value="APROBADO">aprobado</option>
                      <option value="RECHAZADO">rechazado</option>
                      <option value="PENDIENTE">pendiente</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-form-label col-4">Gases</label>
                  <div class="col-8">
                    <select  formControlName="gases" [(ngModel)]="revision.gases" class="form-control">
                      <option value="bueno">bueno</option>
                      <option value="reparacion">reparacion</option>
                      <option value="cambio">cambio</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-form-label col-4">Alineamiento</label>
                  <div class="col-8">
                    <select  formControlName="alineamiento" [(ngModel)]="revision.alineamiento" class="form-control">
                      <option value="bueno">bueno</option>
                      <option value="reparacion">reparacion</option>
                      <option value="cambio">cambio</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-form-label col-4">Visuales</label>
                  <div class="col-8">
                    <select  formControlName="visuales" [(ngModel)]="revision.visuales" class="form-control">
                      <option value="bueno">bueno</option>
                      <option value="reparacion">reparacion</option>
                      <option value="cambio">cambio</option>
                    </select>
                  </div>
                </div>

                

              </div><!--FIN COL-6-->
            </div><!--FIN ROW-->

          </form><!--FIN FORMULARIO REVISION-->
  
      </div><!--FIN CARD BODY-->
    </div><!--FIN CARD CONTENEDORA FORMULARIO-->

  </div><!--FIN CONTENEDOR PRINCIPAL-->