<div class="container"><!--CONTENEDOR PRINCIPAL-->

  <nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  [routerLink]="['/administracion-inicio']" href="#">administracion-inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">empleados</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->

    <h1>Empleados</h1>

    <div class="row my-3"><!--SECCION PARA FILTRAR-->
      <div class="col-2 my-auto">
        Filtrar por:
      </div>
      <div class="col-4 my-auto">
        <input type="text" [(ngModel)]="listFilter">
      </div>
      <div class="col-6 text-right">
          
          <button class="btn btn-danger btn-large mr-3" (click)="generatePDF()"> <i class="fas fa-file-pdf fa-2x"></i>Generar PDF</button>
       
          <button type="button" name="editar" class="btn btn-primary btn-lg" routerLink="/administracion-inicio/empleados-form">Agregar Empleado</button>
      </div>
    </div><!--FIN SECCION PARA FILTRAR-->

    <div class="card mb-3"><!--CARD CONTENEDORA DE LA TABLA-->
      <div class="card-header text-center">
        Lista de empleados
      </div>
      <div class="card-body" id="contentToConvert">
        <div class="table-responsive"><!--INICIO TABLA REVISIONES-->
          <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Rut</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of empleadosFiltered">
                  <td>{{e.rut_empleado}}</td>
                  <td>{{e.nombre}}</td>
                  <td>{{e.correo}}</td>
                  <td>{{e.telefono}}</td>
                  <td>{{e.direccion}}</td>
                  <td><button type="button" name="editar" [routerLink]="['/administracion-inicio/empleados-form',e.id_empleado]" class="btn btn-primary">editar</button></td>
                  <td><button type="button" name="eliminar" class="btn btn-danger" (click)='delete(e)'>eliminar</button></td>
                </tr>
              </tbody>
          </table>
        </div><!--FIN TABLA REVISIONES-->  
      </div>
    </div><!--FIN CARD CONTENEDORA DE TABLA-->
  
  </div><!--FIN CONTENEDOR PRINCIPAL-->