<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#" routerLink="/personal-inicio">Planta Revisión Técnica</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="nav-link" routerLink="revisiones">Revisiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="vehiculos">Vehículos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="clientes">Clientes</a>
          </li> 
          
          <li class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{authService.usuario.username}}
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              
              <button (click)="logout()" class="dropdown-item" type="submit"><span class="fas fa-sign-in-alt"></span> Cerrar Sesión</button>
            </div>
          </li>
        </ul>
  
      
        
  
      </div>
    </div>
  </nav>