.modal-dialog{
    max-width: 70%!important;
    -webkit-box-shadow: 0px 0px 300px 33px rgba(0,0,0,0.92)!important;
    -moz-box-shadow: 0px 0px 300px 33px rgba(0,0,0,0.92)!important;
    box-shadow: 0px 0px 300px 33px rgba(0,0,0,0.92)!important;
}