<h2>Historial de revisiones</h2>

<nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
  <ol class="breadcrumb bg-white pl-0">
    <li class="breadcrumb-item"><a  [routerLink]="['/administracion-inicio']" href="#">administracion-inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">historial-revisiones</li>
  </ol>
</nav><!--FIN MIGAS DE PAN-->

<div class="row my-3"><!--SECCION PARA FILTRAR-->
  <div class="col-2 my-auto">
    Filtrar por estado:
  </div>
  <div class="col-4 my-auto">
    <input type="text" [(ngModel)]="listFilter">
  </div>
  <div class="col-3 offset-2">
    <div class="row mx-0">
        <div class="col-5 mr-3">
          <button class="btn btn-danger btn-large" (click)="generatePDF()"> <i class="fas fa-file-pdf fa-2x"></i>Generar PDF</button>
        </div>
        <div class="col-5">
          <button class="btn btn-success btn-large" ><i class="fas fa-file-excel fa-2x"></i>Generar Excell</button>
        </div>
    </div>
    
  </div>
</div><!--FIN SECCION PARA FILTRAR-->

<div class="card mb-3" id="contentToConvert"><!--CARD CONTENEDORA DE LA TABLA-->
  <div class="card-header text-center">
    Lista de revisiones
  </div>
  <div class="card-body">
    <div class="table-responsive"><!--INICIO TABLA REVISIONES-->
      <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id revisión</th>
              <th scope="col">Id vehiculo</th>
              <th scope="col">Id empleado</th>
              <th scope="col">Fecha</th>
              <th scope="col">Kilometraje</th>
              <th scope="col">Gases</th>
              <th scope="col">Visuales</th>
              <th scope="col">Alineamiento</th>
              <th scope="col">Detalles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of revisiones">
              <th scope="row">{{r.id_revision}}</th>
              <td>{{r.vehiculo.id}}</td>
              <td>{{r.empleado.id_empleado}}</td>
              <td>{{r.fecha}}</td>
              <td>{{r.kilometraje}}</td>
              <td>{{r.gases}}</td>
              <td>{{r.visuales}}</td>
              <td>{{r.alineamiento}}</td>
              <td><button class="btn btn-primary" [routerLink]="['/administracion-inicio/informe-revision',r.id_revision]" ><i class="fas fa-search"></i>  Ver detalle</button></td>
              
            </tr>
          </tbody>
      </table>
    </div><!--FIN TABLA REVISIONES-->  
  </div>
</div><!--FIN CARD CONTENEDORA DE TABLA-->
