<h2>Historial de clientes</h2>

<nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
  <ol class="breadcrumb bg-white pl-0">
    <li class="breadcrumb-item"><a  [routerLink]="['/administracion-inicio']" href="#">administracion-inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">historial-clientes</li>
  </ol>
</nav><!--FIN MIGAS DE PAN-->

<div class="row my-3"><!--SECCION PARA FILTRAR-->
  <div class="col-2 my-auto">
    Filtrar por:
  </div>
  <div class="col-4 my-auto">
    <input type="text" [(ngModel)]="listFilter">
  </div>
  <div class="col-3 offset-2">
    <div class="row mx-0">
        <div class="col-5 mr-3">
          <button class="btn btn-danger btn-large" (click)="generatePDF()"> <i class="fas fa-file-pdf fa-2x"></i>Generar PDF</button>
        </div>
        <div class="col-5">
          <button class="btn btn-success btn-large"><i class="fas fa-file-excel fa-2x"></i>Generar Excell</button>
        </div>
    </div>
    
    
  </div>
</div><!--FIN SECCION PARA FILTRAR-->

<div class="card mb-3" id="contentToConvert"><!--CARD CONTENEDORA DE LA TABLA-->
  <div class="card-header text-center">
    Lista de clientes
  </div>
  <div class="card-body">
    <div class="table-responsive"><!--INICIO TABLA REVISIONES-->
      <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Rut</th>
              <th scope="col">Nombre</th>
              <th scope="col">E-mail</th>
              <th scope="col">Teléfono</th>
           
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of clientesFiltered">
              <td>{{c.rut}}</td>
              <td>{{c.nombre}}</td>
              <td>{{c.correo}}</td>
              <td>{{c.telefono}}</td>
            
            </tr>
          </tbody>
      </table>
    </div><!--FIN TABLA REVISIONES-->  
  </div>
</div><!--FIN CARD CONTENEDORA DE TABLA-->