<div class="container"><!--CONTENEDOR PRINCIPAL-->

  <nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  [routerLink]="['/personal-inicio']" href="#">personal-inicio</a></li>
      <li class="breadcrumb-item"><a  [routerLink]="['/personal-inicio/clientes']" href="#">clientes</a></li>
      <li class="breadcrumb-item active" aria-current="page">formulario-clientes</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->

  <h1 class="my-3">{{titulo}}</h1>

  <div class="card my-5 col-6 offset-3"><!--CARD CONTENEDOR DEL FORMULARIO-->
    <div class="card-header">
      Ingrese los datos del cliente
    </div>
    <div class="card-body"><!--CARD BODY-->

        <form [formGroup]="formCliente" (ngSubmit)="saveData()" novalidate><!--FORMULARIO CLIENTE-->

          <div class="row"><!--ROW-->
            <div class="col-8 offset-2"><!--COL-8-->

              <h6 class="border-bottom my-2 mb-4 pb-2">Datos cliente</h6>
              <div class="form-group row">
                <label for="inputRut" class="col-sm-4 col-form-label">Rut</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputRut" formControlName="rut" [(ngModel)]="cliente.rut" placeholder="Rut">
                  <div *ngIf="formCliente.get('rut').errors && (formCliente.get('rut').touched
                          || formCliente.get('rut').dirty)"
                      class="alert alert-danger">Debe ingresar el rut
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputNombre3" class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputNombre3" formControlName="nombre" [(ngModel)]="cliente.nombre" placeholder="Nombre">
                  <div *ngIf="formCliente.get('nombre').errors && (formCliente.get('nombre').touched
                          || formCliente.get('nombre').dirty)"
                      class="alert alert-danger">Debe ingresar nombre
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" class="col-sm-4 col-form-label">Correo</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail" formControlName="correo" [(ngModel)]="cliente.correo" placeholder="example@dominio.com">
                  <div *ngIf="formCliente.get('correo').errors && (formCliente.get('correo').touched
                          || formCliente.get('correo').dirty)"
                      class="alert alert-danger">Debe ingresar correo
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputTelefono" class="col-sm-4 col-form-label">Teléfono</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputTelefono" formControlName="telefono" [(ngModel)]="cliente.telefono" placeholder="8537XXXX">
                  <div *ngIf="formCliente.get('telefono').errors && (formCliente.get('telefono').touched
                          || formCliente.get('telefono').dirty)"
                      class="alert alert-danger">Debe ingresar el telefono
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 text-right">
                  <button class="btn btn-primary" role="button" (click)='create()' [disabled]="!formCliente.valid" *ngIf="!cliente.id else elseBlock">Crear</button> <!--elseBlock posiciona otro template en caso de que !clietne.id, para utilizar solo 1 boton en el form-->
                  <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" (click)='update()' >Editar</button>
                  </ng-template>
                </div>
              </div>

            </div><!--FIN COL-8-->
          </div><!--FIN ROW-->

        </form><!--FIN FORMULARIO CLIENTE-->

    </div><!--FIN CARD BODY-->
  </div><!--FIN CARD CONTENEDORA FORMULARIO-->

</div><!--FIN CONTENEDOR PRINCIPAL-->