<div class="container-fluid"><!--CONTENEDOR PRINCIPAL-->
      
  <nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  [routerLink]="['/personal-inicio']" href="#">personal-inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">revisiones</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->
      
  <h1>Revisiones</h1>

  <div class="row my-3"><!--SECCION PARA FILTRAR-->
    <div class="col-2 my-auto">
      Filtrar por patente:
    </div>
    <div class="col-4 my-auto">
      <input type="text" [(ngModel)]="listFilter">
    </div>
    <div class="col-6 text-right">
        <button type="button" name="editar" class="btn btn-primary btn-lg" routerLink="/personal-inicio/revisiones-form">Agregar revisión</button>
    </div>
  </div><!--FIN SECCION PARA FILTRAR-->

  <div class="card mb-3"><!--CARD CONTENEDORA DE LA TABLA-->
    <div class="card-header text-center">
      Lista de revisiones
    </div>
    <div class="card-body">
      <div class="table-responsive"><!--INICIO TABLA REVISIONES-->
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id revisión</th>
                <th scope="col">vehiculo</th>
                <th scope="col">Empleado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Kilometraje</th>
                <th scope="col">Gases</th>
                <th scope="col">Visuales</th>
                <th scope="col">Alineamiento</th>
                <th scope="col">Contador</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Informe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of revisionesFiltered">
                <th scope="row">{{r.id_revision}}</th>
                <td>{{r.vehiculo.patente}}</td>
                <td>{{r.empleado.nombre|titlecase}}</td>
                <td>{{r.fecha | date: 'dd/MM/yyyy'}}</td>
                <td>{{r.kilometraje}}</td>
                <td>{{r.gases|titlecase}}</td>
                <td>{{r.visuales|titlecase}}</td>
                <td>{{r.alineamiento|titlecase}}</td>
                <td>{{r.cont}}</td>
                <td>{{r.estado}}</td>
                <td><button type="button" name="editar" [routerLink]="['/personal-inicio/revisiones-form',r.id_revision]"  class="btn btn-primary">editar</button></td>
                <td><button type="button" name="eliminar" class="btn btn-danger" (click)='delete(r)'>eliminar</button></td>
                <td><button class="btn btn-success" [routerLink]="['/personal-inicio/detalle-revision',r.id_revision]" routerLinkActive="router-link-active" >Informe</button></td>
              </tr>
            </tbody>
        </table>
      </div><!--FIN TABLA REVISIONES-->  
    </div>
  </div><!--FIN CARD CONTENEDORA DE TABLA-->

</div> <!--FIN CONTENEDOR PRINCIPAL-->

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Tooltip on top
  </button>