<nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
  <ol class="breadcrumb bg-white pl-3">
    <li class="breadcrumb-item"><a  [routerLink]="['/administracion-inicio']" href="#">administracion-inicio</a></li>
    <li class="breadcrumb-item"><a  [routerLink]="['/administracion-inicio/historial-revisiones']" href="#">revisiones</a></li>
    <li class="breadcrumb-item active" aria-current="page">detalle-revision</li>
  </ol>
</nav><!--FIN MIGAS DE PAN-->

  <div class="row mx-0">

    <div class="col-6 mt-3 pl-5">
      <h3>Detalle de revisión</h3>
    </div>
    <div class="col-6 mt-3 pl-4">
      <div class="row mx-0">
        <div class="col-6">
          <h5>Generar informe:</h5>
        </div>
        <div class="col-6">
            <button class="btn btn-danger" value="CPTURE" (click)="generatePDF()"><i class="fas fa-file-pdf fa-2x"></i></button>
        </div>
      </div> 

    </div>
  </div>

  <div class="row mx-0 mb-5 mt-3" id="contentToConvert">
    
    <!--Contenedor izquierdo-->
    <div class="col-6">

      <div class="card bg-light border-primary m-2 h-100">

        <div class="card-body pb-0">
          <div class="row mx-0">
            <div class="col-12 px-0 py-1 border">
              <h4 class="text-center">Certificado de revisión técnica</h4>
              <div class="row mx-0">
                  <div class="col-6">
                    <p>Fecha de revision: {{revision.fecha|date: 'dd/MM/yyyy'}}</p>
                  </div>
                  <div class="col-6">
                    <p>Número de revisión: {{revision.id_revision}}</p>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body pt-0">
          <div class="row mx-0">
            <div class="col-8 px-0">
              <div class="row mx-0">
                <div class="col-12 border">
                  <h6>Planta de Revisión Técnica METEOR RACER S.A</h6>
                  <p>Andres Bello 620, Chillán</p>
                  <p>Planta Principal / Fono: 42123123</p>
                </div>
              </div>
              <div class="row mx-0 border">
                <div class="col-6 border-right">
                  <h6>Placa Patente</h6>
                  <h3 class="text-center">{{revision.vehiculo.patente}}</h3>
                </div>
                <div class="col-6 my-auto">
                  <h3 class="text-center">{{revision.estado|uppercase}}</h3>
                </div>
              </div>
            </div>  
            <div class="col-4 border">
              AQUI VA EL CODIGO QR
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-12 pr-0 border">
              <p>FIRMADO DIGITALMENTE POR:</p>
              <p>{{revision.empleado.nombre|titlecase}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Fin contenedor izquierdo-->

    <!--Contenedor derecho-->
    <div class="col-6">
      <div class="card bg-light border-primary m-2 h-100">
        <div class="card-body">

          <div class="row border mx-0">
            <div class="col-8 border-right">
              <p class="mb-0">Nombre del propietario:</p>
              <p><b>{{revision.vehiculo.propietario}}</b></p>
            </div>
            <div class="col-4">
              <p class="mb-0">Rut:</p>
              <P><b>{{revision.vehiculo.rut_propietario}}</b></P>
            </div>
          </div>

          <div class="row border mx-0">
            <div class="col-8 border-right">
              <p class="mb-0">Tipo de vehículo:</p>
              <p><b>{{revision.vehiculo.tipo_vehiculo}}</b></p>
            </div>
            <div class="col-4">
              <p class="mb-0">Año:</p>
              <p><b>{{revision.vehiculo.anio}}</b></p>
            </div>
          </div>

          <div class="row border mx-0">
            <div class="col-8 border-right">
              <p class="mb-0">Marca:</p>
              <p><b>{{revision.vehiculo.marca|titlecase}}</b></p>
            </div>
            <div class="col-4">
              <p class="mb-0">Color:</p>
              <p><b>{{revision.vehiculo.color}}</b></p>
            </div>
          </div>

          <div class="row border mx-0">
            <div class="col-8 border-right">
              <p class="mb-0">Modelo:</p>
              <p><b>{{revision.vehiculo.modelo|titlecase}}</b></p>
            </div>
            <div class="col-4">
              <p class="mb-0">Sello:</p>
              <p><b>Verde</b></p>
            </div>
          </div>

          <div class="row border mx-0">
            <div class="col-8 border-right">
              <p class="mb-0">Número de chasis:</p>
              <p><b>{{revision.vehiculo.nro_chasis|titlecase}}</b></p>
            </div>
          </div>

          <div class="row border mx-0">
            <div class="col-8 border-right">
              <p class="mb-0">Número de motor:</p>
              <p><b>{{revision.vehiculo.nro_motor|titlecase}}</b></p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
